<section class="content">
  <div class="pt-[25px] px-[25px]">
    <div class="flex flex-wrap">
      <div class="w-full flex-auto">
        <div
          class="bg-white min-h-[50px] relative mb-6 rounded-[10px] shadow-[0_0_10px_#b7c0ce33] flex flex-col"
        >
          <div class="text-[#555] p-4">
            <div class="flex items-center flex-wrap">
              <div class="md:w-2/3 flex-auto">
                <p class="font-medium">Welcome back</p>
                <div class="font-medium text-[#2196f3] text-25 mb-2">
                  DR. Sarah Smith!
                </div>
                <p class="font-medium mb-6">Gynecologist, MBBS,MD</p>
                <div class="flex justify-center flex-wrap gap-x-4">
                  <div class="mb-5 md:flex-auto">
                    <div class="bg-[#dfdcf6] rounded-[10px] p-4 w-full">
                      <span class="font-medium">Appointments</span>
                      <h5 class="mb-0 text-primary">12+</h5>
                    </div>
                  </div>
                  <div class="mb-5 md:flex-auto">
                    <div class="bg-[#ffd4d1] rounded-[10px] p-4 w-full">
                      <span class="font-medium">Surgeries</span>
                      <h5 class="mb-0 text-danger">3+</h5>
                    </div>
                  </div>
                  <div class="mb-5 md:flex-auto">
                    <div class="bg-[#cdffcf] rounded-[10px] p-4 w-full">
                      <span class="font-medium">Room Visit</span>
                      <h5 class="mb-0 text-success">12+</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="md:w-1/3 md:flex-auto mb-0 flex justify-center">
                <img
                  src="https://www.einfosoft.com/templates/admin/cliniva/source/light/assets/images/pages/doctors.svg"
                  alt=""
                  class="w-4/5 -mt-[3rem]"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex space-x-4 mb-4 w-full">
      <div class="md:w-2/3">
        <nz-card nzTitle="Patients Survay">
          <patient-survey />
        </nz-card>
      </div>
      <div class="md:w-1/3">
        <nz-card nzTitle="Appointment Review">
          <appointment-review />
        </nz-card>
      </div>
    </div>
    <div class="flex space-x-4 mb-4">
      <div class="md:w-2/3">
        <nz-card nzTitle="Appointments">
          <appointment />
        </nz-card>
      </div>
      <div class="md:w-1/3">
        <nz-card nzTitle="Patient Group">
          <patient-group />
        </nz-card>
      </div>
    </div>
    <div class="flex space-x-4">
      <div class="md:w-1/3 md:flex-auto">
        <nz-card nzTitle="Todo List">
          <todo-list />
        </nz-card>
      </div>
      <div class="md:w-1/3 md:flex-auto">
        <nz-card nzTitle="Doctor Status">
          <doctor-status />
        </nz-card>
      </div>
      <div class="md:w-1/3 md:flex-auto">
        <div
          class="bg-white min-h-[50px] relative mb-6 rounded-[10px] shadow-[0_0_10px_#b7c0ce33] flex flex-col"
        >
          <div
            class="relative flex w-full text-[#555] py-2.5 px-4 leading-[30px]"
          >
            <h2 class="m-0 text-[#5b626b] text-17 leading-[28px] pr-2.5">
              Number Of Patients
            </h2>
          </div>
          <div class="text-[#555] p-4">
            <number-of-patients />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
