<section>
  <div class="pt-[25px] px-[25px]">
    <div class="flex flex-wrap">
      <div class="w-full flex-auto">
        <div
          class="bg-white min-h-[50px] relative mb-6 rounded-[10px] shadow-[0_0_10px_#b7c0ce33]"
        >
          <div class="text-[#555] p-4">
            <div class="flex flex-wrap items-center">
              <div class="mb-5 md:w-1/3 md:flex-auto px-3">
                <img
                  src="https://www.einfosoft.com/templates/admin/cliniva/source/light/assets/images/pages/welcome.png"
                  alt=""
                  class="w-full"
                />
              </div>
              <div class="mb-5 md:w-2/3 md:flex-auto">
                <p class="font-medium text-16 mb-2">Welcome back</p>
                <div class="text-[#2196f3] font-medium text-25 mb-2">
                  Cara Stevens!
                </div>
                <p class="text-16">
                  We would like to take this opportunity to welcome you to our
                  practice and to thank you for choosing our physicians to
                  participate in your healthcare. We look forward to providing
                  you with personalized, comprehensive health care focusing on
                  wellness and prevention.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap gap-x-4">
      <div class="md:flex-auto">
        <div
          class="inline-block w-full bg-white min-h-[50px] relative mb-6 rounded-[10px] shadow-[0_0_10px_#b7c0ce33]"
        >
          <div class="clearfix">
            <div class="text-35 m-5 float-left">
              <img src="https://www.einfosoft.com/templates/admin/cliniva/source/light/assets/images/pages/blood-pressure.png" alt="" />
            </div>
            <div class="float-right my-4 mr-4">
              <div><p class="font-medium float-right">Blood Pressure</p></div>
              <div class="text-[#4caf50]">
                <p class="font-semibold text-18 mb-0 float-right">110/70</p>
              </div>
            </div>
          </div>
          <div class="ml-6 mb-5">
            <p class="text-12 mb-0 flex">
                <span nz-icon nzType="rise" nzTheme="outline" class="!text-[#4caf50]"></span> &nbsp; 10%
                Higher Then Last Month
            </p>
          </div>
        </div>
      </div>
      <div class="md:flex-auto">
        <div
          class="inline-block w-full bg-white min-h-[50px] relative mb-6 rounded-[10px] shadow-[0_0_10px_#b7c0ce33]"
        >
          <div class="clearfix">
            <div class="text-35 m-5 float-left">
              <img src="https://www.einfosoft.com/templates/admin/cliniva/source/light/assets/images/pages/heart-rate.png" alt="" />
            </div>
            <div class="float-right my-4 mr-4">
              <div><p class="font-medium float-right">Blood Pressure</p></div>
              <div class="text-[#4caf50]">
                <p class="font-semibold text-18 mb-0 float-right">650</p>
              </div>
            </div>
          </div>
          <div class="ml-6 mb-5">
            <p class="text-12 mb-0 flex">
                <span nz-icon nzType="fall" nzTheme="outline" class="!text-[#fd7e14]"></span> &nbsp; 07%
                Less Then Last Month
            </p>
          </div>
        </div>
      </div>
      <div class="md:flex-auto">
        <div
          class="inline-block w-full bg-white min-h-[50px] relative mb-6 rounded-[10px] shadow-[0_0_10px_#b7c0ce33]"
        >
          <div class="clearfix">
            <div class="text-35 m-5 float-left">
              <img src="https://www.einfosoft.com/templates/admin/cliniva/source/light/assets/images/pages/glucose.png" alt="" />
            </div>
            <div class="float-right my-4 mr-4">
              <div><p class="font-medium float-right">Glucose Level</p></div>
              <div class="text-[#4caf50]">
                <p class="font-semibold text-18 mb-0 float-right">88-75</p>
              </div>
            </div>
          </div>
          <div class="ml-6 mb-5">
            <p class="text-12 mb-0 flex">
                <span nz-icon nzType="rise" nzTheme="outline" class="!text-[#4caf50]"></span> &nbsp; 12%
                Higher Then Last Month
            </p>
          </div>
        </div>
      </div>
      <div class="md:flex-auto">
        <div
          class="inline-block w-full bg-white min-h-[50px] relative mb-6 rounded-[10px] shadow-[0_0_10px_#b7c0ce33]"
        >
          <div class="clearfix">
            <div class="text-35 m-5 float-left">
              <img src="https://www.einfosoft.com/templates/admin/cliniva/source/light/assets/images/pages/blood-count.png" alt="" />
            </div>
            <div class="float-right my-4 mr-4">
              <div><p class="font-medium float-right">Blood Count</p></div>
              <div class="text-[#4caf50]">
                <p class="font-semibold text-18 mb-0 float-right">9,456/mL</p>
              </div>
            </div>
          </div>
          <div class="ml-6 mb-5">
            <p class="text-12 mb-0 flex">
                <span nz-icon nzType="fall" nzTheme="outline" class="!text-[#fd7e14]"></span> &nbsp; 22%
                Less Then Last Month
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap gap-x-4 mb-6">
      <div class="md:flex-auto">
        <resting-heart-rate />
      </div>
      <div class="md:flex-auto">
        <performace-heart-rate />
      </div>
      <div class="md:flex-auto">
        <medication-table />
      </div>
    </div>
    <div class="flex flex-wrap gap-x-4">
      <div class="md:flex-[2]">
        <div
          class="bg-white min-h-[50px] relative mb-6 rounded-[10px] shadow-[0_0_10px_#b7c0ce33]"
        >
          <div class="text-[#555] p-4">
            <nz-tabset>
              <nz-tab nzTitle="Upcomming Appointment">
                <upcomming-appointment-table />
              </nz-tab>
              <nz-tab nzTitle="Past Appointment">
                <past-appointment-table />
              </nz-tab>
            </nz-tabset>
          </div>
        </div>
      </div>
      <div class="md:flex-[1]">
        <report />
      </div>
    </div>
  </div>
</section>
